<div class="parent">
  <div class="box">
    <div class="headSentence">
      <div>
        <h1 class="title is-1">Typing Challenge</h1>
      </div>
      <br />
      <p class="has-text-centered title is-4">
        <span
          [class]="compare(letter, typedText[i])"
          *ngFor="let letter of sentence.split(''); let i = index"
          >{{ letter }}</span
        >
      </p>
    </div>
    <br />
    <div class="field">
      <input class="input" (input)="setTypeLetter($event.target.value)" />
    </div>
  </div>
</div>
